body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

.main-card {
    width: 800px;
    height: 550px;
    margin: auto;
    margin-top: 30vh;
    padding: 0;
    background-color: hsl(0, 0%, 100%);
    outline: 2px solid gray;
}

.result-card {
    background: hsl(252, 100%, 67%);
    background: linear-gradient(180deg, hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 100%);

    border-radius: 40px;
    width: 50%;
    height: 100%;
    float: left;

    text-align: center;
}

.result-card h1 {
    color: hsl(241, 100%, 89%);
    margin-top: 30px;
    margin-bottom: 30px;
}

.result-card h2 {
    color: white;
    font-size: 35px;
}

.result-card p {
    color: hsl(241, 100%, 89%);
    padding: 0px 80px 0px 80px;
    margin-bottom: 20px;
}

.result {
    background-color: hsla(256, 72%, 46%, 1);
    background: linear-gradient(180deg, hsla(256, 72%, 46%, 1) 0%, hsla(241, 72%, 46%, 0) 100%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: auto;
}

.result h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 100px;
    padding-top: 60px;
    color: white;
}

.result h3 {
    color: hsl(224, 30%, 27%);
    margin-top: 0px;
}

.result-summary {
    width: 45%;
    height: 100%;
    float: left;
    outline: 2px solid gray;
    margin-left: 40px;
    padding-top: 20px;
}

.result-summary h1 {
    font-size: 30px;
    color: hsl(224, 30%, 27%);
}

.result-list-node {
    outline: 2px solid gray;
    display: flex;
}

.result-list-node img {}

.result-list-node h1 {}

.result-list-node h2 {}